figcaption h3 {
    margin-top: 5px;
}

.content {
    display: flex;
    justify-content: center;
    width:98vw;
}

.person {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 8px;
}

.person figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.person-body {
    text-align: center;
}

.person .icon {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.person .linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--emphasisFontColor);
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
}

.person .external-link {
    width: 15px;
    margin-left: 5px;
}

@media screen and (max-width:950px) {
    .content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:700px) {
    .content {
        flex-direction: column;
    }
    .person {
        width: auto;
    }
}