#network h2 {
    font-size: 3rem;
}
#network h3 {
    font-size: 1.75rem;
}
.content {
    display: flex;
}
.person{
    display:flex;
    align-items: center;
    margin: 15px;
    padding: 8px;
}

.person figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 500px;
}
.person .linkedin {
    background: var(--emphasisFontColor);
    color: var(--fontColorDark);
    padding: 5px 8px;
    border-radius: 3px;
}
.person-body .job {
    text-align: left;
}