.content {
    display: flex;
    justify-content: center;
}
.person{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 8px;
    width: calc(100% / 3);
}
.person figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    height: 220px;
}
.person-body {
    text-align: center;
}
.person .job {
    text-decoration: underline;
}
.person .icon{
    border-radius: 50%;
    max-width: 100px;
}
.person .linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--emphasisFontColor);
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 25px;
    margin-right: 25px;
}
.person .external-link {
    width: 15px;
    margin-left: 5px;
}
@media screen and (max-width:950px) {
    .content {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:700px) {
    .content {
        flex-direction: column;
    }
    .person {
        width: auto;
    }
}