.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition-duration: .3s;
}

.box {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}

.exp {
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
    justify-content: start;
}

.comp {
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
    justify-content: end;
}

p.exp {
    text-align: center;
}

.abilities-button {
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: inherit;
    position: relative;

}

.abilities-button:before {
    position: absolute;
    display: inline-block;
    content: " ";
    background: url("https://icongr.am/fontawesome/angle-double-down.svg?color=fefefe");
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.abilities-button:focus+#container {
    height: 800px;
    transition-duration: 0.3s;
}

.chevron-down {
    width: 40px;
}

@media only screen and (max-width:950px) {
    .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}