.title {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    h100
}

#container {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition-duration: .3s;
}

.box {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}

.exp {
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
    justify-content: start;
}

.comp {
    width: 50%;
    margin-bottom: 10px;
    padding: 20px;
    justify-content: end;
}

p.exp {
    text-align: center;
}

.abilities-button {
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: inherit;
    position: relative;

}


@media only screen and (max-width:950px) {
    .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}