@import "network.css"; 

@font-face {
 font-family: "Simpson";
 src: url("/fonts/Homer_Simpson_Revised.ttf");
}

:root {
    --backgroundColor1: #FAAA87;
    --backgroundColor2: #17BBEE;
    --fontColor: darkgray;
    --emphasisFontColor: yellow;
    --lightColor: grey;
    --darkColor: black;
    --fontSize:18pt;
    --h3Size:20pt;
    --h2Size:24pt;
    --mainTitleSize:36pt;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    
    font-family: roboto;
    color:val(--fontColor);
    font-size: val(--fontSize);

}

h2{
    font-family: "Simpson"; 
    color : val(--emphasisfontColor);
    font-size: val(--h2Size);
}

h3{
    font-family: "Simpson"; 
    color : val(--emphasisfontColor);  
    font-size: val(--h3Size);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

main {
    display: flex;
}

section {
    border: thin solid, black;
}

section:nth-child(even) {
    background: var(--backgroundColor1);
}

section:nth-child(odd) {
    background: var(--backgroundColor2);
}

