:root{
 	--mainColor : brown;
	--backgroundColor : white;
	--fontColor : darkgrey;
	--emphasisFontColor : yellow;
	--lightColor : grey;
	--darkColor:black;
}

body{
	display:flex;
}

main{
	display:flex;
}
