:root {
    --backgroundColor1: #FAAA87;
    --backgroundColor1: #17BBEE;
    --fontColor: darkgray;
    --emphasisFontColor: yellow;
    --lightColor: grey;
    --darkColor: black;
}

body {
    display: flex;
}

main {
    display: flex;
}
